.rdf-background {
    background-image: url(./images/RDF.jpg);
    height: 400px;
}
span {
    text-decoration: underline;
}

.desc {
    font-size: 12px;
    text-align: center;
    padding-top: 100px;
    color: black
}

.clearance {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 260px;
}

.skills {
    text-align: center;
    margin-bottom: 50px;
}

.crossing {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 260px;
    border-radius: 50%;
}

.rdf-im {
    background-image: url(./images/download.jpeg);
    height: 200px;
}

.nav-link {
    color: white !important; /* Force white color on links */
  }
  
  .nav-link:hover {
    color: lightgray; /* Optional: Change color on hover */
  }
  